h1 {
  color: rgba(11, 99, 150, 1);
  border: 5px solid purple;
}

h4 {
  background: rgb(255, 100, 100);
}

body {
  background: pink;
/*  background: url(https://i.ebayimg.com/images/g/bokAAOSwux5YVGXX/s-l300.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
}
